{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include 'employee/dashboard_employee_menu.html' %}
    <main class="col-md-10 p-4">
      <h2 class="mb-4">Trang quản lý Nhân viên</h2>
      <p><strong>Xin chào:</strong> {{ employee.name }}</p>
      <p><strong>Email:</strong> {{ employee.email }}</p>
      <p><strong>SĐT:</strong> {{ employee.phoneNumber }}</p>
      <p><strong>Địa chỉ:</strong> {{ employee.address }}</p>
      <p><strong>Ngày tạo:</strong> {% if employee.createdAt %}{{ employee.createdAt.strftime('%d/%m/%Y') }}{% else %}Không rõ{% endif %}</p>
    </main>
  </div>
</div>
{% endblock %}
